<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://media.architecturaldigest.com/photos/5ae20eb9a017c0140e2949b3/2:1/w_1600,c_limit/Vitra-Design-Museum-Night-Fever%2520(3).jpg');">
  <div class="banner-content">
    <h1>Le Wagoner</h1>
    <p>Learn to code with us in Nebraska</p>
    <a class="btn btn-primary btn-lg">Start now</a>
  </div>
</div>
